<h1>検索結果</h1>
<table class="table">
    <tr>
        <th>#</th>
        <th>タイトル</th>
        <th>親#</th>
        <th>投稿者</th>
        <th>投稿日時</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.id %></td>
        <td><%= link_to(article.title, article) %></td>
        <td><%= link_to(article.parent.id, article.parent) if article.parent.present? %></td>
        <td><%= link_to(article.author.name, article.author) %></td>
        <td><%= l(article.posted_at, format: :long) %></td>
    </tr>
    <% end %>
</table>